body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
h2.title-geral{
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

.container {
    margin: 30px auto;
    padding: 0 2%;
    width: 100%;
    max-width: 1080px;
}
.mian-RC{
    width: 400px;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}
h2.balance {
    letter-spacing: 1px;
    margin: 0;
    color: var(--color-one);
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
    transition: color .5s;
}

h3 {
    border-bottom: var(--border-one);
    padding: 0 10px 5px;
    margin: 40px 0 10px;
    /* transition: color .5s; */
}

h4 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container {
    background-color: var(--backgroundColor-one);
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 5px;
    transition: background-color .5s, box-shadow .5s;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: var(--border-two);
    transition: border-right .5s;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: var(--color-plus);
    transition: color .5s;
}

.money.minus {
    color: var(--color-minus);
    transition: color .5s;
}


.pupup-adcionar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20000000000000000000;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, .1);
    display: none;
    opacity: 0;
    transition: opacity .2s;
}
.fechar-popup{
    position: absolute;
    top: -10px;
    right: -10px;

    width: 40px;
    height: 40px;
    
    border: 2px solid var(--color-one);

    border-radius: 50%;

    cursor: pointer;
    background-color: var(--backgroundColor-three);
}

.fechar-popup::before{
    content: '\f00d';
    position: absolute;
    font-family: fontAwesome;
    font-size: 25px;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}


.adcionar{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translate(-50%, -50%);
    display: block;
    background-color: var(--backgroundColor-main);
}
/* .adcionar form{

} */
label {
    display: inline-block;
    margin: 10px 0;
}

.adcionar input{
    border: var(--border-two);
    background-color: var(--backgroundColor-four);
    color: var(--color-four);
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: border .5s ease;
    transition: background-color .5s, color .2s, border .5s;
}

.adcionar input:focus{
    border: 1px solid var(--color-one);
    transition: border .5s;
}
.adcionar input:valid{
    border: 1px solid var(--color-plus);
    transition: border .5s;
}
.adcionar input.btn, .abrir-transations {
    cursor: pointer;
    outline: none;
    border: 0 !important;
    text-decoration: none;
    text-align: center;
    background-color: var(--backgroundColor-two);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    color: var(--color-three);
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    transition: background-color .5s, color .2s, box-shadow .5s;
}
.adcionar input.btn{
    width: 40%;
    margin: 20px auto 0;
}

.abrir-transations{
    position: absolute;
    width: 250px;
    height: 40px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-transform: uppercase;
}

.adcionar input.btn:hover, .abrir-transations:hover{
    background-color: var(--backgroundColorHover-two);
    transition: background-color .5s;
}
.transactions {
    width: 88%;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
.transacao{
    width: 430px;
    top: 160px;
}
.trans-entrada{
    position: absolute;
    left: 50px;
}
.trans-saida{
    position: absolute;
    right: 50px;
}
h3.transacao-title{
    text-align: right;
}
#entrada, #saida{
    height: auto;
    max-height: 250px;
    background-color: #ccc;
    margin-bottom: 40px;
    padding: 0 30px;
    border: var(--border-one);
    background-color: var(--backgroundColor-four);
    border-radius: 5px;
    overflow: auto;
    transition: background-color .5s, border .5s;
}
#entrada::-webkit-scrollbar, #saida::-webkit-scrollbar{
    width: 5px;
    background-color: var(--scrollbar);
    background-color: transparent !important;
    transition: background-color .5s;
}
#entrada::-webkit-scrollbar-thumb, #saida::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb);
    border-radius: 2px;
    transition: background-color .5s;
}
.transactions li {
    background-color: var(--backgroundColor-one);
    box-shadow: var(--box-shadow);
    color: var(--color-two);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color .5s, color .2s, box-shadow .5s;
}

.transactions li.plus {
    border-right: 5px solid var(--color-plus);
    transition: .5s;
}

.transactions li.minus {
    border-right: 5px solid var(--color-minus);
    transition: .5s;
}

.delete-btn {
    cursor: pointer;
    background-color: var(--backgroundColor-three);
    border: 0;
    color: var(--color-three);
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    border-radius: 3px;
    transition: 0.3s ease;
}

.transactions li:hover .delete-btn {
    opacity: 1;
}
.delete-btn:hover{
    background-color: var(--backgroundColorHover-three);
}


/* Icons */

.icons{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-43%, -50%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

/* Icon Dark Mode *and* Icon-Delete*/


.delete-control{
    background-color: var(--color-one);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    transition: .5s;
}

.delete-control::before{
    font-family: fontAwesome;
    transition: .2s;
    color: var(--color-three);
}
body.black .delete-control::before{
    transition: .2s;
    color: var(--color-one-black);
    transition: .5s;
}
.delete-control::before{
    color: var(--color-three);
}
body.black .delete-control::before{
    color: var(--color-minus-black);
}
.delete-control::before{
    content: '\f014';
}

body.black .delete-control{
    background-color: var(--scrollbar-black);
    transition: .5s;
}

.delete-control:hover{
    width: 50px;
    height: 50px;
    font-size: 40px;
}

/* *** */

/* Box Delete */
.box-delete{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    -webkit-backdrop-filter: blur(2px); /* Safari 9+ */
    backdrop-filter: blur(2px); /* Chrome and Opera */
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;

    display: none;
    opacity: 0;
    transition: opacity .2s;
}
.conf-delet{
    width: 500px;
    text-align: center;
    height: 200px;
    background-color: var(--color-main-black);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
}
.conf-delet h2{
    color: var(--scrollbar-black) !important;
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
}

.box-msg-conf{
    display: none;
    /* opacity: 0; */
    /* padding: 100px 0; */
}
.msg-conf{
    width: 600px;
    height: auto;
}
.msg-conf h2{
    margin: 20px 10px;
}

.conf-btn{
    /* background-color: red; */
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.cont-btn-wraper{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
}
.conf-sim{
    background-color: var(--color-minus-black);
    color: var(--color-three-black);
}
.conf-nao{
    background-color: var(--color-plus-black);
    color: var(--color-three-black);
}
/* Theme Dark */
body.black .pupup-adcionar{
    background-color: rgba(0, 0, 0, .1);
}
body.black .adcionar{
    background-color: var(--backgroundColor-main-black);
    box-shadow: var(--box-shadow-black);
}
body.black .fechar-popup{
    background-color: var(--backgroundColor-three-black);
    border: 2px solid var(--color-one-black);
}
body.black .box-delete{
    -webkit-backdrop-filter: blur(2px); /* Safari 9+ */
    backdrop-filter: blur(2px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.1);
}
body.black .conf-delet{
    background-color: var(--color-main);
    box-shadow: var(--box-shadow);
}
body.black .conf-delet h2{
    color: var(--backgroundColor-main) !important;
}

body.black .conf-sim{
    background-color: var(--color-minus);
    color: var(--color-three);
}
body.black .conf-nao{
    background-color: var(--color-plus);
    color: var(--color-three);
}

body.black h2.balance{
    color: var(--color-one-black);
}
body.black h3{
    border-bottom: var(--border-one-black);
    /* transition: color .5s; */
}
body.black .inc-exp-container {
    background-color: var(--backgroundColor-one-black);
    box-shadow: var(--box-shadow-black);
    transition: background-color .5s, box-shadow .5s;
}
body.black .inc-exp-container > div:first-of-type {
    border-right: var(--border-two-black);
    transition: border-right .5s;
}
body.black .money.plus {
    color: var(--color-plus-black);
    transition: color .5s;
}
body.black .money.minus {
    color: var(--color-minus-black);
    transition: color .5s;
}
body.black .adcionar input{
    border: var(--border-two-black);
    background-color: var(--backgroundColor-four-black);
    color: var(--color-four-black);
    transition: background-color .5s, color .2s, border .5s;
}
body.black .adcionar input:focus{
    border: 1px solid var(--color-one-black);
    transition: border .5s;
}
body.black .adcionar input:valid{
    border: 1px solid var(--color-plus-black);
    transition: border .5s;
}
body.black .adcionar input.btn,
body.black .abrir-transations{
    cursor: pointer;
    background-color: var(--backgroundColor-two-black);
    box-shadow: var(--box-shadow-black);
    border-radius: 5px;
    color: var(--color-three-black);
    transition: background-color .5s, color .2s, box-shadow .5s;
}
body.black .adcionar input.btn:hover,
body.black .abrir-transations:hover{
    background-color: var(--backgroundColorHover-two-black);
    transition: background-color .5s;
}
body.black #entrada, 
body.black #saida{
    border: var(--border-one-black);
    background-color: var(--backgroundColor-four-black);
    transition: background-color .5s, border .5s;
}
body.black #entrada::-webkit-scrollbar, 
body.black #saida::-webkit-scrollbar{
    background-color: var(--scrollbar-black);
    transition: background-color .5s;
}
body.black #entrada::-webkit-scrollbar-thumb, 
body.black #saida::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-black);
    transition: background-color .5s;
}
body.black .transactions li {
    background-color: var(--backgroundColor-one-black);
    box-shadow: var(--box-shadow-black);
    color: var(--color-two-black);
    transition: background-color .5s, color .2s, box-shadow .5s;
}
body.black .transactions li.plus {
    border-right: 5px solid var(--color-plus-black);
    transition: .5s;
}
body.black .transactions li.minus {
    border-right: 5px solid var(--color-minus-black);
    transition: .5s;
}
body.black .delete-btn {
    background-color: var(--backgroundColor-three-black);
    color: var(--color-three-black);
    transition: background-color .5s, color .2s
}
body.black .delete-btn:hover{
    background-color: var(--backgroundColorHover-three-black);
}
