@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.border{
    border: 1px solid red;
}

.div-form-valid{
    width: 100%;
    height: 0px;
    margin: 20px 0;
    transition: .5s;
}
.box-alert{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-alert::before{
    font-family: fontAwesome;
    color: white;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.box-alert p{
    color: white;
    font-size: 18px;
    margin: 0 5px;
    text-align: center;
}
.box-alert p span{
    color: #aaa;
    font-size: 16px;
}
.sucesso{
    background-color: #41a044;
    animation: shakeTop 1s;
}
.error{
    background-color: #f75353;
    animation: shake 1s;
}
.error::before{
    content: '\f12a';
}
.sucesso::before{
    content: '\f00c';
}

/* Icons main dark and loggout */

.icons-main{
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}
.loggout{
    top: 30px;
    right: 30px;
}
.icons-dark{
    bottom: 30px;
    right: 30px;
}

.btn-dark, .loggout a{
    background-color: var(--color-one);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    transition: .5s;

}
.loggout a{
    text-decoration: none;
    font-size: 25px;
}
/* BTN - Dark */

.btn-dark::before, .loggout a::before{
    font-family: fontAwesome;
    transition: .2s;
    color: var(--color-three);
}
body.black .btn-dark::before, body.black .loggout a::before{
    transition: .2s;
    color: var(--color-one-black);
    transition: .5s;
}
.loggout a::before{
    content: '\f08b';
}
.btn-dark::before{
    content: '\f185';
}
body.black .btn-dark::before{
    content: '\f186';
}

body.black .btn-dark, body.black .loggout a{
    background-color: var(--scrollbar-black);
    transition: .5s;
}

.btn-dark:hover, .loggout a:hover{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
.loggout a:hover{
    font-size: 35px;
}


/* Menu Container */

.menu-container{
    position: fixed;
    z-index: 1000000000000000;
    top: 30px;
    left: 30px;
    width: 50px;
    height: auto;
    background-color: var(--color-one);
    color: var(--color-three);
    overflow: hidden;
    border-radius: 50%;
    transition: background-color .5s, 
                color .5s, 
                width .5s, 
                border-radius .5s;
}
.btn-menu{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.barrinhas-menu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: transform .5s;
}
.barrinhas-menu span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 4px;
    background-color: var(--color-three);
    border-radius: 10px;
    transition: top .5s, transform .5s, background-color .5s;
}
.barrinhas-menu span.barra-before{
    top: 70%;
    transform: translate(-50%, -70%);
}
.barrinhas-menu span.barra-center{
    transition: left .2s, opacity .7s;
}
.barrinhas-menu span.barra-after{
    top: 30%;
    transform: translate(-50%, -30%);
}
.btn-menu h2{
    font-size: 0;
    transition: font-size .5s, margin .5s;
}

.menu-container nav{
    width: 150px;
    height: 0;
    border-radius: 0 0 10px 10px;
    transition: width .5s, height .5s;
}
.menu-container nav ul{
    list-style: none;
}
.menu-container nav li{
    width: 100%;
    height: 40px;
    border-top: var(--border-one);
    transition: border-top .5s, background-color .5s;
}
.menu-container nav li:hover{
    background-color: #2768b8;
}
.menu-container nav li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: var(--backgroundColor-one);
    transition: color .5s;
}
.menu-container nav li a i{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/* Ativação Menu */

.menu-container.active{
    width: 150px;
    border-radius: 10px;
}
.menu-container.active .barrinhas-menu{
    transform: rotate(180deg);
}
.menu-container.active .barrinhas-menu span.barra-center{
    left: 80px;
    opacity: 0;
}
.menu-container.active .barrinhas-menu span.barra-after,
.menu-container.active .barrinhas-menu span.barra-before{
    top: 50%;
}
.menu-container.active .barrinhas-menu span.barra-after{
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu-container.active .barrinhas-menu span.barra-before{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-container.active .btn-menu h2{
    font-size: 30px;
    margin: 0 10px;
}

.menu-container.active nav{
    height: calc(40px * 3);
}

body.black .menu-container{
    background-color: var(--scrollbar-black);
    color: var(--color-one-black);
}
body.black .barrinhas-menu span{
    background-color: var(--color-one-black);
}
body.black .menu-container nav li a{
    color: var(--color-one-black);
}
body.black .menu-container nav li{
    border-top: var(--border-one-black);
}

body.black .menu-container nav li:hover{
    background-color: #3d4041;
}

/* ** */
/* Amimate */

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shakeTop {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(0, -10px, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(0, 10px, 0);
    }
}