@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: var(--backgroundColor-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--color-main);
}

.container {
    margin: 30px auto;
    width: 350px;
}

h2.balance {
    letter-spacing: 1px;
    margin: 0;
    color: var(--color-one);
    font-size: 30px;
    margin-top: 5px;
}

h3 {
    border-bottom: var(--border-one);
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4 {
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container {
    background-color: var(--backgroundColor-one);
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 5px;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: var(--border-two);
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: var(--color-plus);
}

.money.minus {
    color: var(--color-minus);
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type='text'],
input[type='number'] {
    border: var(--border-two);
    background-color: var(--backgroundColor-four);
    color: var(--color-three);
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: border .5s ease;
}

input[type='text']:focus,
input[type='number']:focus{
    border: 1px solid var(--color-one);
}
input[type='text']:valid,
input[type='number']:valid{
    border: 1px solid var(--color-plus);
}
.btn {
    cursor: pointer;
    background-color: var(--backgroundColor-two);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    color: var(--color-three);
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    transition: background-color .5s ease;
}
.btn:hover,
.btn:focus{
    background-color: var(--backgroundColorHover-two);
}

.transactions {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.transactions li {
    background-color: var(--backgroundColor-one);
    box-shadow: var(--box-shadow);
    color: var(--color-two);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.transactions li.plus {
    border-right: 5px solid var(--color-plus);
}

.transactions li.minus {
    border-right: 5px solid var(--color-minus);
}

.delete-btn {
    cursor: pointer;
    background-color: var(--backgroundColor-three);
    border: 0;
    color: var(--color-three);
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    border-radius: 3px;
    transition: 0.3s ease;
}

.transactions li:hover .delete-btn {
    opacity: 1;
}
.delete-btn:hover{
    background-color: var(--backgroundColorHover-three);
}
