:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22), 
                  0 1px 2px rgba(0, 0, 0, 0.44);

    --backgroundColor-main: rgb(23, 25, 26);
    --backgroundColor-one: rgb(19, 21, 22);
    --backgroundColor-two: rgb(29, 0, 178);
    --backgroundColorHover-two: rgb(29, 6, 143);
    --backgroundColor-three: rgb(162, 33, 20);
    --backgroundColorHover-three: rgb(150, 29, 16);
    --backgroundColor-four: rgb(24, 26, 27);
    --color-main: rgb(232, 230, 227);
    --color-one: rgb(99, 167, 220);
    --color-two: rgb(200, 195, 188);
    --color-three: #fff;
    --color-four: #bbb;
    --color-plus: rgb(71, 213, 131);
    --color-minus: rgb(216, 92, 79);
    --border-one: 1px solid rgb(67, 73, 76);
    --border-two: 1px solid rgb(57, 62, 64);
}

::-webkit-scrollbar {
    background-color: #323536;
    /* color: #aba499; */
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #5a6063;
}